<!doctype html>
<html>
<head>
	{% load static %}
	<title>Home</title>
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h1>Welcome to wonderful world of computers!</h1>

<h2>Java is very intersting programming language!</h2>

<img src="{% static 'images/java.jpeg' %}">

<hr/>

<button id="btn">Click me</button>

<script src="{% static 'js/app.js' %}"></script>

</body>
</html>
